<div class="input-group">
  <span class="input-group-addon">
    <input type="checkbox" aria-label="Completed" (click)="toggle()" [checked]="todo.done">
  </span>
  <input
    [ngClass]="{'strike-through' : todo.done}"
    [value]="todo.task"
    aria-label="Todo"
    class="form-control"
    type="text"
  >
  <span *ngIf="todo.done" class="input-group-btn">
    <button class="btn btn-secondary" type="button" (click)="remove()">
      <span class="fa fa-trash"></span>
    </button>
  </span>
</div>
